acme==2.9.0
asgiref==3.7.2
certbot==2.9.0
certbot-nginx==2.9.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
ConfigArgParse==1.7
configobj==5.0.8
cryptography==42.0.2
distro==1.9.0
Django==5.0.2
django-debug-toolbar==4.3.0
gunicorn==21.2.0
idna==3.6
josepy==1.14.0
packaging==23.2
parsedatetime==2.6
pycparser==2.21
pyOpenSSL==24.0.0
pyparsing==3.1.1
pyRFC3339==1.1
pytz==2024.1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
urllib3==2.2.0
